name: CI build of the standard

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Setup dependencies
      run: |
        sudo apt update
        sudo apt install texlive-latex-base texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended xsltproc
      
    - name: Build the document
      run: make biblio forcetex
      
    - name: Check the output
      run: |
        test -f DataLink.pdf
        test -f DataLink.bbl
        
    - uses: actions/upload-artifact@v1
      with:
        name: PDF Preview
        path: DataLink.pdf
